chirpstack-kubernetes/user-interface/nodered-ui.json
[{"id":"2bc926dc.375c3a","type":"tab","label":"Live","disabled":false,"info":"# Live stats"},{"id":"df7d5ac8.5111f8","type":"tab","label":"Historic","disabled":false,"info":""},{"id":"3a66a79e.6add18","type":"tab","label":"Help","disabled":false,"info":""},{"id":"e1dba9b3.b41f28","type":"mqtt-broker","z":"","name":"Frigo1","broker":"131.254.150.144","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f99df6a.a119a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2346c0a1.ecbb1","type":"ui_group","name":"Live","tab":"","order":1,"disp":false,"width":"24","collapse":false},{"id":"6db2a218.be551c","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c494872.913028","type":"ui_group","name":"Help","tab":"","order":1,"disp":false,"width":"24","collapse":false},{"id":"6011606b.4abae","type":"mqtt-broker","z":"","name":"Frigo1","broker":"131.254.150.144","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b56cb6e.92a3b8","type":"influxdb","z":"","hostname":"131.254.150.144","port":"8086","protocol":"http","database":"sensor_data","name":"Frigo1","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"ddcacc4c.689ef","type":"ui_group","name":"Historic","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"2a3a3816.1a0028","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6be2416e.5384f","type":"ui_group","name":"Help","tab":"","order":1,"disp":false,"width":"24","collapse":false},{"id":"8a1a262e.7500a8","type":"mqtt-broker","z":"","name":"Frigo1","broker":"131.254.150.144","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec314a1b.a689b8","type":"influxdb","z":"","hostname":"131.254.150.144","port":"8086","protocol":"http","database":"sensor_data","name":"Frigo1","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"3d103b1c.6207e4","type":"ui_group","name":"Historic","tab":"660563a3.f2920c","order":1,"disp":false,"width":"18","collapse":false},{"id":"660563a3.f2920c","type":"ui_tab","name":"Historic","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5f7a9409.8047ac","type":"ui_tab","name":"Live","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c212d3f7.185f1","type":"ui_group","name":"Live","tab":"5f7a9409.8047ac","order":1,"disp":false,"width":"24","collapse":false},{"id":"a4dad473.c0df38","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a99fb99f.057ae8","type":"ui_tab","name":"Help","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"aad2554f.83a9f8","type":"ui_group","name":"Help","tab":"a99fb99f.057ae8","order":1,"disp":false,"width":"24","collapse":false},{"id":"ff3043f8.fc2d","type":"mqtt-broker","z":"","name":"Frigo1","broker":"131.254.150.144","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3188fac9.a40466","type":"influxdb","z":"","hostname":"131.254.150.144","port":"8086","protocol":"http","database":"sensor_data","name":"Frigo1","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"f3147345.2dc4b","type":"ui_dropdown","z":"df7d5ac8.5111f8","name":"","label":"","tooltip":"","place":"5","group":"3d103b1c.6207e4","order":8,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"}],"payload":"","topic":"days","topicType":"str","x":290,"y":320,"wires":[["efb08f93.1b10b","ebaa70fc.716a4","c11a8f8a.3fcb1","572104fb.ccbcbc","dfa3a293.51223","1176d76e.7980d9"]]},{"id":"41694140.c345e","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":7,"width":"3","height":"1","name":"","label":"No. of days:","format":"{{msg.payload}}","layout":"row-left","x":90,"y":320,"wires":[]},{"id":"cb8b32f4.21288","type":"ui_text_input","z":"df7d5ac8.5111f8","name":"","label":"","tooltip":"","group":"3d103b1c.6207e4","order":4,"width":"3","height":"1","passthru":true,"mode":"time","delay":300,"topic":"from","topicType":"str","x":660,"y":600,"wires":[["1176d76e.7980d9"]]},{"id":"f96822e7.1ac","type":"ui_date_picker","z":"df7d5ac8.5111f8","name":"Date 5:","label":"","group":"3d103b1c.6207e4","order":18,"width":"6","height":"1","passthru":true,"topic":"date5","topicType":"str","x":660,"y":500,"wires":[["1176d76e.7980d9"]]},{"id":"3257d602.3766da","type":"ui_date_picker","z":"df7d5ac8.5111f8","name":"Date 4:","label":"","group":"3d103b1c.6207e4","order":16,"width":"6","height":"1","passthru":true,"topic":"date4","topicType":"str","x":660,"y":420,"wires":[["1176d76e.7980d9"]]},{"id":"13077db1.5ed202","type":"ui_date_picker","z":"df7d5ac8.5111f8","name":"Date 2:","label":"","group":"3d103b1c.6207e4","order":12,"width":"6","height":"1","passthru":true,"topic":"date2","topicType":"str","x":660,"y":260,"wires":[["1176d76e.7980d9"]]},{"id":"b9c2056.8d9a6f8","type":"ui_date_picker","z":"df7d5ac8.5111f8","name":"Date 3:","label":"","group":"3d103b1c.6207e4","order":14,"width":"6","height":"1","passthru":true,"topic":"date3","topicType":"str","x":660,"y":340,"wires":[["1176d76e.7980d9"]]},{"id":"5ad10885.39e148","type":"ui_button","z":"df7d5ac8.5111f8","name":"","group":"3d103b1c.6207e4","order":19,"width":0,"height":0,"passthru":false,"label":"Plot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"plot","topicType":"str","x":890,"y":40,"wires":[["1176d76e.7980d9"]]},{"id":"fdb13b59.fac538","type":"ui_dropdown","z":"df7d5ac8.5111f8","name":"","label":"","tooltip":"","place":"Temperature","group":"3d103b1c.6207e4","order":2,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"Temperature","type":"str"},{"label":"","value":"Humidity","type":"str"},{"label":"","value":"Battery","type":"str"},{"label":"","value":"Barometer","type":"str"},{"label":"","value":"Gas Resistance","type":"str"}],"payload":"","topic":"metric","topicType":"str","x":670,"y":40,"wires":[["1176d76e.7980d9"]]},{"id":"768af1a4.5e98f","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":1,"width":"3","height":"1","name":"","label":"Metric:","format":"{{msg.payload}}","layout":"row-left","x":490,"y":40,"wires":[]},{"id":"1ba6516.021a6af","type":"ui_text_input","z":"df7d5ac8.5111f8","name":"","label":"","tooltip":"","group":"3d103b1c.6207e4","order":6,"width":"3","height":"1","passthru":true,"mode":"time","delay":300,"topic":"to","topicType":"str","x":660,"y":700,"wires":[["1176d76e.7980d9"]]},{"id":"a3bf53a9.7c39b","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":3,"width":"2","height":"1","name":"","label":"From:","format":"{{msg.payload}}","layout":"row-left","x":490,"y":600,"wires":[]},{"id":"efef3e9b.e4c2d","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":5,"width":"1","height":"1","name":"","label":"To:","format":"{{msg.payload}}","layout":"row-right","x":490,"y":700,"wires":[]},{"id":"d2f7413d.7b1cf","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":11,"width":"3","height":"1","name":"","label":"Date 2:","format":"","layout":"row-left","x":660,"y":220,"wires":[]},{"id":"ebdf9dad.a419c","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":13,"width":"3","height":"1","name":"","label":"Date 3:","format":"","layout":"row-left","x":660,"y":300,"wires":[]},{"id":"61f80ab2.3f9d04","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":15,"width":"3","height":"1","name":"","label":"Date 4:","format":"","layout":"row-left","x":660,"y":380,"wires":[]},{"id":"c3fa2093.f7eae","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":17,"width":"3","height":"1","name":"","label":"Date 5:","format":"","layout":"row-left","x":660,"y":460,"wires":[]},{"id":"5c01c3fc.ab700c","type":"ui_text","z":"df7d5ac8.5111f8","group":"3d103b1c.6207e4","order":9,"width":"3","height":"1","name":"","label":"Date 1:","format":"","layout":"row-left","x":660,"y":140,"wires":[]},{"id":"7a343fcc.24f25","type":"ui_date_picker","z":"df7d5ac8.5111f8","name":"Date 1:","label":"","group":"3d103b1c.6207e4","order":10,"width":"6","height":"1","passthru":true,"topic":"date1","topicType":"str","x":660,"y":180,"wires":[["1176d76e.7980d9"]]},{"id":"efb08f93.1b10b","type":"function","z":"df7d5ac8.5111f8","name":"","func":"switch(msg.payload) {\n  case 2:\n  case 3:\n  case 4:\n  case 5:\n    msg.enabled = true;\n    break;\n  default:\n    msg.enabled = false;\n}\nmsg.payload = (new Date()).toLocaleDateString(\"en-US\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["7a343fcc.24f25","5c01c3fc.ab700c"]]},{"id":"ebaa70fc.716a4","type":"function","z":"df7d5ac8.5111f8","name":"","func":"switch(msg.payload) {\n  case 3:\n  case 4:\n  case 5:\n    msg.enabled = true;\n    break;\n  default:\n    msg.enabled = false;\n}\nmsg.payload = (new Date()).toLocaleDateString(\"en-US\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["ebdf9dad.a419c","b9c2056.8d9a6f8"]]},{"id":"c11a8f8a.3fcb1","type":"function","z":"df7d5ac8.5111f8","name":"","func":"switch(msg.payload) {\n  case 2:\n  case 3:\n  case 4:\n  case 5:\n    msg.enabled = true;\n    break;\n  default:\n    msg.enabled = false;\n}\nmsg.payload = (new Date()).toLocaleDateString(\"en-US\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["d2f7413d.7b1cf","13077db1.5ed202"]]},{"id":"572104fb.ccbcbc","type":"function","z":"df7d5ac8.5111f8","name":"","func":"switch(msg.payload) {\n  case 4:\n  case 5:\n    msg.enabled = true;\n    break;\n  default:\n    msg.enabled = false;\n}\nmsg.payload = (new Date()).toLocaleDateString(\"en-US\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["61f80ab2.3f9d04","3257d602.3766da"]]},{"id":"dfa3a293.51223","type":"function","z":"df7d5ac8.5111f8","name":"","func":"switch(msg.payload) {\n  case 5:\n    msg.enabled = true;\n    msg.payload = \"01/01/1993\";\n    break;\n  default:\n    msg.enabled = false;\n}\nmsg.payload = (new Date()).toLocaleDateString(\"en-US\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["c3fa2093.f7eae","f96822e7.1ac"]]},{"id":"78105de1.ad6f94","type":"debug","z":"df7d5ac8.5111f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":380,"wires":[]},{"id":"1176d76e.7980d9","type":"function","z":"df7d5ac8.5111f8","name":"","func":"var data = context.get(\"msg_payload\") || msg.payload;\n\nif(Array.isArray(msg.payload)) {\n    data = msg.payload;\n    context.set(\"msg_payload\", msg.payload);\n}\n\nvar date1 = context.get(\"date1\") || (new Date()).getTime();\nvar date2 = context.get(\"date2\") || (new Date()).getTime();\nvar date3 = context.get(\"date3\") || (new Date()).getTime();\nvar date4 = context.get(\"date4\") || (new Date()).getTime();\nvar date5 = context.get(\"date5\") || (new Date()).getTime();\nvar days = context.get(\"days\") || 5;\nvar metric = context.get(\"metric\") || \"Temperature\";\nvar from = context.get(\"from\") || 0;\nvar to = context.get(\"to\") || 43200000;\n\nif(msg.topic === \"date1\"){\n    date1 = msg.payload;\n    context.set(\"date1\", date1);\n}\nif(msg.topic === \"date2\"){\n    date2 = msg.payload;\n    context.set(\"date2\", date2);\n}\nif(msg.topic === \"date3\"){\n    date3 = msg.payload;\n    context.set(\"date3\", date3);\n}\nif(msg.topic === \"date4\"){\n    date4 = msg.payload;\n    context.set(\"date4\", date4);\n}\nif(msg.topic === \"date5\"){\n    date5 = msg.payload;\n    context.set(\"date5\", date5);\n}\nif(msg.topic === \"metric\"){\n    metric = msg.payload;\n    context.set(\"metric\", metric);\n}\nif(msg.topic === \"from\"){\n    if(msg.payload == \"undefined\") {\n        from = 0\n    } else {\n        from = msg.payload;\n    }\n    context.set(\"from\", from);\n}\nif(msg.topic === \"to\"){\n    if(msg.payload == \"undefined\") {\n        to = 43200000\n    } else {\n        to = msg.payload;\n    }\n    context.set(\"to\", to);\n}\nif(msg.topic === \"days\"){\n    days = msg.payload;\n    context.set(\"days\", days);\n}\n\n\nfunction sameDay(d1, d2) {\n  return d1.getFullYear() === d2.getFullYear() &&\n    d1.getMonth() === d2.getMonth() &&\n    d1.getDate() === d2.getDate();\n}\n\nfunction withInRange(d1, d2, d3) {\n    \n    return (d1.getHours() * 60) + d1.getMinutes() <= (d3.getHours() * 60) + d3.getMinutes() && \n    (d3.getHours() * 60) + d3.getMinutes() <= (d2.getHours() * 60) + d2.getMinutes();\n}\n\nlet datapoints\n\nvar filteredData1 = data.filter(value => sameDay(new Date(date1), (new Date(Date.parse(value.time))))\n        && withInRange(new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(from).toLocaleTimeString())),\n            new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(to).toLocaleTimeString())), \n            (new Date(Date.parse(value.time)))))\nvar filteredData2 = data.filter(value => sameDay(new Date(date2), (new Date(Date.parse(value.time))))\n        && withInRange(new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(from).toLocaleTimeString())),\n            new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(to).toLocaleTimeString())), \n            (new Date(Date.parse(value.time)))))\nvar filteredData3 = data.filter(value => sameDay(new Date(date3), (new Date(Date.parse(value.time))))\n        && withInRange(new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(from).toLocaleTimeString())),\n            new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(to).toLocaleTimeString())), \n            (new Date(Date.parse(value.time)))))\nvar filteredData4 = data.filter(value => sameDay(new Date(date4), (new Date(Date.parse(value.time))))\n        && withInRange(new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(from).toLocaleTimeString())),\n            new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(to).toLocaleTimeString())), \n            (new Date(Date.parse(value.time)))))\nvar filteredData5 = data.filter(value => sameDay(new Date(date5), (new Date(Date.parse(value.time))))\n        && withInRange(new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(from).toLocaleTimeString())),\n            new Date(Date.parse((new Date(date1)).toLocaleDateString(\"en-US\") + \" \" + new Date(to).toLocaleTimeString())), \n            (new Date(Date.parse(value.time)))))\n\nif(metric === \"Humidity\") {\n    var data1 = filteredData1.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.humidity.substr(0, value.humidity.indexOf('%RH'))) \n            }\n        )\n    );\n    var data2 = filteredData2.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.humidity.substr(0, value.humidity.indexOf('%RH'))) \n            }\n        )\n    );\n    var data3 = filteredData3.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.humidity.substr(0, value.humidity.indexOf('%RH'))) \n            }\n        )\n    );\n    var data4 = filteredData4.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.humidity.substr(0, value.humidity.indexOf('%RH'))) \n            }\n        )\n    );\n    var data5 = filteredData5.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.humidity.substr(0, value.humidity.indexOf('%RH'))) \n            }\n        )\n    );\n    datapoints = [data1, data2, data3, data4, data5].slice(0, days)\n} else if(metric === \"Battery\") {\n    var data1 = filteredData1.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.battery.substr(0, value.battery.indexOf('V'))) \n            }\n        )\n    );\n    var data2 = filteredData2.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.battery.substr(0, value.battery.indexOf('V'))) \n            }\n        )\n    );\n    var data3 = filteredData3.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.battery.substr(0, value.battery.indexOf('V'))) \n            }\n        )\n    );\n    var data4 = filteredData4.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.battery.substr(0, value.battery.indexOf('V'))) \n            }\n        )\n    );\n    var data5 = filteredData5.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.battery.substr(0, value.battery.indexOf('V'))) \n            }\n        )\n    );\n    datapoints = [data1, data2, data3, data4, data5].slice(0, days)\n} else if(metric === \"Barometer\") {\n    var data1 = filteredData1.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.barometer.substr(0, value.barometer.indexOf('hPa'))) \n            }\n        )\n    );\n    var data2 = filteredData2.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.barometer.substr(0, value.barometer.indexOf('hPa'))) \n            }\n        )\n    );\n    var data3 = filteredData3.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.barometer.substr(0, value.barometer.indexOf('hPa'))) \n            }\n        )\n    );\n    var data4 = filteredData4.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.barometer.substr(0, value.barometer.indexOf('hPa'))) \n            }\n        )\n    );\n    var data5 = filteredData5.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.barometer.substr(0, value.barometer.indexOf('hPa'))) \n            }\n        )\n    );\n    datapoints = [data1, data2, data3, data4, data5].slice(0, days)\n} else if(metric === \"Gas Resistance\") {\n    var data1 = filteredData1.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.gasResistance.substr(0, value.gasResistance.indexOf('kiloohm'))) \n            }\n        )\n    );\n    var data2 = filteredData2.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.gasResistance.substr(0, value.gasResistance.indexOf('kiloohm'))) \n            }\n        )\n    );\n    var data3 = filteredData3.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.gasResistance.substr(0, value.gasResistance.indexOf('kiloohm'))) \n            }\n        )\n    );\n    var data4 = filteredData4.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.gasResistance.substr(0, value.gasResistance.indexOf('kiloohm'))) \n            }\n        )\n    );\n    var data5 = filteredData5.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.gasResistance.substr(0, value.gasResistance.indexOf('kiloohm'))) \n            }\n        )\n    );\n    datapoints = [data1, data2, data3, data4, data5].slice(0, days)\n} else {\n    var data1 = filteredData1.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.temperature.substr(0, value.temperature.indexOf('℃'))) \n            }\n        )\n    );\n    var data2 = filteredData2.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.temperature.substr(0, value.temperature.indexOf('℃'))) \n            }\n        )\n    );\n    var data3 = filteredData3.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.temperature.substr(0, value.temperature.indexOf('℃'))) \n            }\n        )\n    );\n    var data4 = filteredData4.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.temperature.substr(0, value.temperature.indexOf('℃'))) \n            }\n        )\n    );\n    var data5 = filteredData5.map(value => (\n            { \n                \"x\": Date.parse(value.time),\n                \"y\": parseFloat(value.temperature.substr(0, value.temperature.indexOf('℃'))) \n            }\n        )\n    );\n    datapoints = [data1, data2, data3, data4, data5].slice(0, days)\n}\n\nmsg.payload = [{\n\"series\": [\n    (new Date(date1)).toLocaleDateString(\"en-US\"), \n    (new Date(date2)).toLocaleDateString(\"en-US\"),\n    (new Date(date3)).toLocaleDateString(\"en-US\"),\n    (new Date(date4)).toLocaleDateString(\"en-US\"),\n    (new Date(date5)).toLocaleDateString(\"en-US\"),\n ].slice(0, days),\n\"data\": datapoints,\n\"labels\": [date1, date2, date3, date4, date5].slice(0, days)\n}]\n\nif(msg.topic === \"plot\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":320,"wires":[["78105de1.ad6f94","643dee1b.52625"]]},{"id":"643dee1b.52625","type":"ui_chart","z":"df7d5ac8.5111f8","name":"chart","group":"3d103b1c.6207e4","order":0,"width":"0","height":"0","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":260,"wires":[[]]},{"id":"fbcb671d.04fe38","type":"function","z":"2bc926dc.375c3a","name":"Temperature","func":"var length = msg.payload.length;\nvar currentTemp = msg.payload[length - 1].temperature;\nvar currentTempValue = parseFloat(currentTemp.substr(0, currentTemp.indexOf('℃')));\nlet topic\nif (msg.topic === \"data\") {\n    topic = \"temperature\"\n} else {\n    topic = msg.topic\n}\n\nreturn { payload: currentTempValue, topic: topic};","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["6db389c7.a97388","cac31583.ec1078"]]},{"id":"b01bee60.2a354","type":"function","z":"2bc926dc.375c3a","name":"Humidity","func":"var length = msg.payload.length;\nvar currentHumidity = msg.payload[length - 1].humidity;\nvar currentHumidityValue = parseFloat(currentHumidity.substr(0, currentHumidity.indexOf('%RH')));\nlet topic\nif (msg.topic === \"data\") {\n    topic = \"humidity\"\n} else {\n    topic = msg.topic\n}\nreturn { payload: currentHumidityValue, topic: topic};","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["6db389c7.a97388","b45b4847.869858"]]},{"id":"198bfca5.9d1443","type":"function","z":"2bc926dc.375c3a","name":"Barometer","func":"var length = msg.payload.length;\nvar currentBarometer = msg.payload[length - 1].barometer;\nvar currentBarometerValue = parseFloat(currentBarometer.substr(0, currentBarometer.indexOf('hPa')));\nlet topic\nif (msg.topic === \"data\") {\n    topic = \"barometer\"\n} else {\n    topic = msg.topic\n}\nreturn { payload: currentBarometerValue, topic: topic};","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["6db389c7.a97388","121bf2d9.f504fd"]]},{"id":"830f8c55.bc853","type":"function","z":"2bc926dc.375c3a","name":"Battery","func":"var length = msg.payload.length;\nvar currentBattery = msg.payload[length - 1].battery;\nvar currentBatteryValue = parseFloat(currentBattery.substr(0, currentBattery.indexOf('V')));\nlet topic\nif (msg.topic === \"data\") {\n    topic = \"battery\"\n} else {\n    topic = msg.topic\n}\nreturn { payload: currentBatteryValue, topic: topic};","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["6db389c7.a97388","4d269ad5.59b4b4"]]},{"id":"dde9328e.fc35","type":"function","z":"2bc926dc.375c3a","name":"Gas Resistance","func":"var length = msg.payload.length;\nvar currentGasResistance = msg.payload[length - 1].gasResistance;\nvar currentGasResistanceValue = parseFloat(currentGasResistance.substr(0, currentGasResistance.indexOf('kiloohm')));\nlet topic\nif (msg.topic === \"data\") {\n    topic = \"gasResistance\"\n} else {\n    topic = msg.topic\n}\nreturn { payload: currentGasResistanceValue, topic: topic};","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["6db389c7.a97388","10bfe0fc.b8b70f"]]},{"id":"fdcfd546.54b9d8","type":"inject","z":"2bc926dc.375c3a","name":"Max Threshold","topic":"max","payload":"[{\"barometer\":\"1023.59hPa\",\"humidity\":\"65%RH\",\"temperature\":\"25.5℃\"}]","payloadType":"json","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":140,"wires":[["fbcb671d.04fe38","b01bee60.2a354","198bfca5.9d1443","830f8c55.bc853","dde9328e.fc35"]]},{"id":"f4147fa8.70fc1","type":"inject","z":"2bc926dc.375c3a","name":"Min Threshold","topic":"min","payload":"[{\"barometer\":\"1003.32hPa\",\"humidity\":\"20%RH\",\"temperature\":\"18℃\"}]","payloadType":"json","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":360,"wires":[["fbcb671d.04fe38","b01bee60.2a354","198bfca5.9d1443","830f8c55.bc853","dde9328e.fc35"]]},{"id":"7a2c22e8.74ed8c","type":"ui_toast","z":"2bc926dc.375c3a","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":1330,"y":260,"wires":[]},{"id":"6db389c7.a97388","type":"function","z":"2bc926dc.375c3a","name":"Max/Min Notification","func":"if (msg.topic == \"temperature\") {\n    if (msg.payload > 25.5) {\n        return { payload:  \"Warning: Temperature is too high!\"};\n    } else if (msg.payload < 18) {\n        return { payload:  \"Warning: Temperature is too high!\"};\n    }\n} else if (msg.topic == \"humidity\") {\n    if (msg.payload > 65) {\n        return { payload:  \"Warning: Humidity is too high!\"};\n    } else if (msg.payload < 20) {\n        return { payload:  \"Warning: Humidity is too high!\"};\n    }\n} else if (msg.topic == \"barometer\") {\n    if (msg.payload > 1023.59) {\n        return { payload:  \"Warning: Barometer is too high!\"};\n    } else if (msg.payload < 1003.32) {\n        return { payload:  \"Warning: Barometer is too high!\"};\n    }\n} \n// else if (msg.topic == \"battery\") {\n//     if (msg.payload > 100) {\n//         return { payload:  \"Warning: Battery is too high!\"};\n//     } else if (msg.payload < 0) {\n//         return { payload:  \"Warning: Battery is too high!\"};\n//     }\n// } else if (msg.topic == \"gasResistance\") {\n//     if (msg.payload > 100) {\n//         return { payload:  \"Warning: Gas Resistance is too high!\"};\n//     } else if (msg.payload < 0) {\n//         return { payload:  \"Warning: Gas Resistance is too high!\"};\n//     }\n// } \n","outputs":1,"noerr":0,"x":1060,"y":260,"wires":[["7a2c22e8.74ed8c"]]},{"id":"d0d0b38e.cd564","type":"ui_template","z":"3a66a79e.6add18","group":"aad2554f.83a9f8","name":"Help","order":2,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\nhtml {\n  box-sizing: border-box;\n}\n\n*, *:before, *:after {\n  box-sizing: inherit;\n}\n\n.column {\n  float: left;\n  width: 33.3%;\n  margin-bottom: 16px;\n  padding: 0 8px;\n}\n\n.card {\n  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);\n  margin: 8px;\n}\n\n.about-section {\n  padding: 50px;\n  text-align: center;\n  color: white;\n}\n\n.container {\n  padding: 0 16px;\n}\n\n.container::after, .row::after {\n  content: \"\";\n  clear: both;\n  display: table;\n}\n\n.title {\n  color: grey;\n}\n\n.button {\n  border: none;\n  outline: 0;\n  display: inline-block;\n  padding: 8px;\n  color: white;\n  background-color: #097479;\n  text-align: center;\n  cursor: pointer;\n  width: 100%;\n}\n\n.button:hover {\n  background-color: #555;\n}\n\n@media screen and (max-width: 650px) {\n  .column {\n    width: 100%;\n    display: block;\n  }\n}\n</style>\n</head>\n<body>\n\n<div class=\"about-section\">\n  <h1>About Us</h1>\n  <p>This web view is created by Maryam Ahmadi as part of her master thesis.</p>\n</div>\n\n<h2 style=\"text-align:center\">Developer</h2>\n<div class=\"row\">\n  <div class=\"column\">\n    <div class=\"card\">\n      <div class=\"container\">\n      </div>\n    </div>\n  </div>\n\n  <div class=\"column\">\n    <div class=\"card\">\n      <div class=\"container\">\n        <h2>Maryam Ahmadi</h2>\n        <p class=\"title\">Master Thesis Intern at IRISA</p>\n        <p><b>Email: </b> maryam.ahmadi@irisa.fr</p>\n        <br>\n        <p><button class=\"button\" onclick=\"location.href='mailto:maryam.ahmadi@irisa.fr';\">Report Bug</button></p>\n      </div>\n    </div>\n  </div>\n  \n  <div class=\"column\">\n    <div class=\"card\">\n      <div class=\"container\">\n      </div>\n    </div>\n  </div>\n</div>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":240,"wires":[[]]},{"id":"1a04814f.b5c67f","type":"mqtt in","z":"df7d5ac8.5111f8","name":"","topic":"DecodeRAK7204/1","qos":"2","datatype":"auto","broker":"ff3043f8.fc2d","x":140,"y":700,"wires":[["eb2b5a44.12f078"]]},{"id":"eb2b5a44.12f078","type":"influxdb in","z":"df7d5ac8.5111f8","influxdb":"3188fac9.a40466","name":"Frigo1","query":"SELECT * from DecodeRAK7204","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":330,"y":820,"wires":[["1176d76e.7980d9","b6bd088f.6e9948"]]},{"id":"b6bd088f.6e9948","type":"debug","z":"df7d5ac8.5111f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":820,"wires":[]},{"id":"e9073169.39935","type":"mqtt in","z":"2bc926dc.375c3a","name":"","topic":"DecodeRAK7204/1","qos":"2","datatype":"auto","broker":"ff3043f8.fc2d","x":180,"y":560,"wires":[["561d1613.f7e308"]]},{"id":"561d1613.f7e308","type":"influxdb in","z":"2bc926dc.375c3a","influxdb":"3188fac9.a40466","name":"Frigo1","query":"SELECT * from DecodeRAK7204","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":530,"y":620,"wires":[["5d056fc4.e128d"]]},{"id":"5d056fc4.e128d","type":"function","z":"2bc926dc.375c3a","name":"Rename topic","func":"return { payload: msg.payload, topic: \"data\"};","outputs":1,"noerr":0,"x":120,"y":240,"wires":[["fbcb671d.04fe38","b01bee60.2a354","198bfca5.9d1443","830f8c55.bc853","dde9328e.fc35"]]},{"id":"cac31583.ec1078","type":"ui_chart","z":"2bc926dc.375c3a","name":"Temperature","group":"c212d3f7.185f1","order":4,"width":"8","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":80,"wires":[[]]},{"id":"b45b4847.869858","type":"ui_chart","z":"2bc926dc.375c3a","name":"Humidity","group":"c212d3f7.185f1","order":4,"width":"8","height":"5","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":180,"wires":[[]]},{"id":"121bf2d9.f504fd","type":"ui_chart","z":"2bc926dc.375c3a","name":"Barometer","group":"c212d3f7.185f1","order":4,"width":"8","height":"5","label":"Barometric Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":240,"wires":[[]]},{"id":"4d269ad5.59b4b4","type":"ui_chart","z":"2bc926dc.375c3a","name":"Battery","group":"c212d3f7.185f1","order":5,"width":"8","height":"5","label":"Battery","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":360,"wires":[[]]},{"id":"10bfe0fc.b8b70f","type":"ui_chart","z":"2bc926dc.375c3a","name":"Gas Resistance","group":"c212d3f7.185f1","order":5,"width":"8","height":"5","label":"Gas Resistance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":520,"wires":[[]]}]